* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}
body * {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    line-height: 1.5em;
    text-align: center;
    margin: 20px 0;
    background-color: #fff;
    color: brown;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
}
.description {
    width: 50%;
    min-width: 490px;
    font-size: 1em;
    margin: 20px auto;
    line-height: 1.5em;
    text-align: center;
}


#board {
    margin: 0 auto;
    min-height: 100px;
    min-width: 100px;
}
#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    float: left;
}
#board div.live {
    background-color: #000;
}


#game-menu {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
#game-menu button {
    background: brown;
    border: 2px solid brown;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}
    #game-menu button:hover {
        background: #fff;
        border: 2px solid brown;
        color: brown;
        transition: 0.2s;
    }
    #game-menu button:active {
        box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.5);
    }
#play {
    border-radius: 10px 0 0 10px;
}
    #play:disabled {
        background: #a52a2a69;
        border: 2px solid #a52a2a69;
        cursor: unset;
    }
    #play:disabled:hover {
        background: #a52a2a69;
        border: 2px solid #a52a2a69;
        color: #fff;
    }
#pause {
    border-radius: 0 10px 10px 0;
    border-left: 2px solid #fff;
}
    #pause:hover {
        border-left: 2px solid brown;
    }